node_modules
.expo
.DS_Store
dist
coverage
.env
.env.local
apps/api/.env
**.env**
!.env.example
!**/.env.example
.cocoapods
.local
.npm
Library
apps/api/dist
apps/api/node_modules
apps/mobile/.expo
apps/mobile/ios/Pods
apps/mobile/ios/.xcode.env.local
